<div class="tree">
    <ul>
        <li>
            <span><i class="icon-folder-open"></i><a href="#/photoGallery">Popular Choice Photos</a></span>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoDetail/images/2014_outdoor_classes/SAM_0159.JPG_medium.jpg">Outdoor class</a></span> 
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoDetail/images/2014_23rd_annual_day/20140125_175710_Richtone(HDR).jpg_medium.jpg">School Day</a></span>
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoDetail/images/2014_pongal/SAM_4604.JPG_medium.jpg">Pongal</a></span>
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoDetail/images/mid_day_meal/SAM_4415.JPG_medium.jpg">Mid Day Meal</a></span>
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoDetail/images/2014_sports_day/SAM_2265.JPG_medium.jpg">Sports Day</a></span>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="icon-folder-open"></i><a href="#/photoGallery">Photo Library</a></span>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoShowAll/2014_skype_session">Skype Session</a></span> 
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoShowAll/2014_outdoor_classes">Outdoor Classes</a></span>
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoShowAll/2013_mettur_dam">Mettur Dam</a></span>
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoShowAll/mid_day_meal">Mid Day Meal</a></span>
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/photoShowAll/2014_23rd_annual_day">2014 Annual Day</a></span>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="icon-folder-open"></i><a href="#/videoGallery">Video Library</a></span>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/videoGallery/annualDay/2014">Annual Day</a></span> 
                </li>
            </ul>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><a href="#/videoGallery/childrensDay/2013">Childrens Day</a></span> 
                </li>
            </ul>
        </li>
    </ul>
</div>
<script>
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});</script>