<div class="row">
	<div class="col-md-6">	
		HOBBIES <b> -	  A.SATHISH KUMAR(  IX  STD  STUDENT)</b>
		Hobbies are leisure time activities.  Everybody has one interesting hobby or another. Some are  
		interested in writing stories or poems.  Stamp collecting is my interesting hobby.  
		During leisure, I collect stamps.As soon as I get a post cover  I remove the  stamps from it. 
		I have a special album for posting stamps. I paste the stamps on the album. I have collected  
		hundreds of postal stamps. Some of them belong to foreign countries. 
		Some stamps bear the pictures of national animals as birds. A large number of Indian stamps bear  
		the national  emblem.Foreign stamps like those  of the Gulf countries bear the portraits of  
		their kings. Stamps give us this valuable information about foreign countries as well as our own.
	</div>
	<div class="col-md-2">
		<img src="images/showcase/sateesh_kumar.jpg_medium.jpg" />	
	</div>
</div>
