<div class="row">
	<div class="col-md-6">	
		Secret of Victory<b> - M. Meena (V Std Teacher)<br><br>
            Thinking  should  be  always  high <br>
             To  make the world thy <br>
             Work hard to reach the goal <br>
             It  is  too  hard to  be  a whole <br>
             It  is happy  to reach  the sky <br>
             Proudness  will  make  you  feel shy <br>
             Passion  has no boundary <br>
             Sincere  effort  will  lead   to  victory. 
	</div>
	<div class="col-md-2">
		<img src="images/teachers/02_meena_m.jpg_medium.jpg" />	
	</div>
</div>
