<div class="row">
	<div class="col-md-3">
		REWARDS <b> -	 A.Amalorpuvamary (III  STD  CLASS TEACHER) </b>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		All  of  us  work.  All  of  us  expect   result  or  rewards.  But  very  often  
		we  expect  more than  we  deserve. We forget  that   our  reward  depends on the work  we do.<br>
		Kind  words  spoken to  others will bring us kind words from  many.  
		Kindness  shown  and  help  given  will certainly  bring  us  better  rewards  
		than  we  expect. We  should  do good deeds  and  speak  kind  words. 
		Real  good  is  done  without  any  thought  of  the  rewards  it  will   bring. 
		At  the  same  time  it  is  only  human  expect  a  good  word  at  least  in  return.  
		
		<b>MORAL: He  who  plants  thorns  shall not  gather  roses.</b>
	</div>
	<div class="col-md-3">
		<img src="images/teachers/10_amalorpuva_mary.jpg_medium.jpg" />
	</div>
</div>