<div class="row">
	<div class="col-md-6">	
			ARTICLE  ABOUT  ONLINE  EDUCATION<b> - Nadhiya S (Old Student) </b><br><br>
		Everyone  has  the  right  to  education. The  goal  of education  is  the  advancement  of  knowledge. 
             Education is  the  determining  factor  for  many  other  social  and economic  indicators too. <br>
             Education  leads  to  many  social  benefits . But  many  people  are not  educated, because  
             they are not having  enough time or they may  not be able  to go to schools. Thus, the system of 
             online education  overcome  these  problems. <br><br>
              The  system  of  online education was  introduced, so that every person receives education.
              The  flexibility  of the online  learning process allows students to continue their further 
              studies.online  cources are helpful  for those  with financial constraints. It is also  
              preferred as students can choose  their  subjects according  to  their  interests. 
              The benefits  lie  on the  fact at their own place. Moreover  an online  course  needs that 
              the  students  and  teachers  meet once or periodically  in  a physical  sittings for the 
              lectures , labs or exams. In  addition to  that, once can opt  for  various  online  courses.<br><br> 
              There  are  various  universities  and  colleges  online cources  to the students.
          Increase  in  employment  is another  important  aspect  of this revolution. With online education skillful trainers 
          & teachers can  expand  their reach. Students  can receive  education by the  top  professors 
          and instructions  in the  world.<br><br>
          The  quality  of  education  and  the  overall  learning  experience  will see  tremendous improvement  with  online  education.
            We  must  realize  the  importance of  education . We must  aim to  ensure  that  citizen  of  our  nation  is  educated   and independent.
             Thus  online  degrees  have  become  the  choice  of  every  person  with a   set  career   goal.
             It  serves  the   hindrance  created  by the  considerable  amount  of  time  
             and  money.	
     </div>
	<div class="col-md-2">
		<img src="images/showcase/nadhiya.jpg_medium.jpg" />	
	</div>
</div>
