body {
	margin-left: 20px;
	width: 95%;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	font-family: Arial, Helvetica, Sans-serif;
}
p {
	margin: 0;
	padding: 0;
}
img {
	cursor: pointer;
}
#header {
	background: #F2F3F4;
}

.schoolName {
	color: blue;
	font-weight: bold;
	font-size: 18px;
}

.schoolLocation {
	color: blue;
	font-weight: bold;
	font-size: 14px;
}


.leftmenutable1 {
	background: #5395D1;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 3px solid #E5E5E5;
}
.leftmenutable1 a {
	color: white;
}
.leftmenutable2
 {
	background: #FEFACA;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 3px solid #E5E5E5;
}
.leftmenutable2 a {
	color: red;
}
.leftmenutable3
 {
	background: #7CFF7E;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 3px solid #E5E5E5;
}
.leftmenutable3 a {
	color: green;
}

.mainbodyhomepagetable2
{
	background: #FFD009;
	color: #000000;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 3px solid #E5E5E5;
}

.main_content {
	padding: 5px 5px 5px 5px;
	background: #FFF9CC;
	font-weight: bold;
}

table.teachers_list {
	margin-left: 10px;	
}
table.thank_you_table td,
table.teachers_list td,
table.photo_gallery td {
	text-align: left;
}

div.photoList > .row > .col-md-3 {
	width: 20%;
	margin-left: 15px;
	padding-left: 15px;
}

table.teachers_list td {
	font-size: 12px;
}
table.teachers_list img {
	width: 250px;
}
/* bootstrap related styles */
.teachersList {
	background: #F2F3F4;
}
.mainbody {
	background: #FFF9CC;
	
}
table.photo_gallery_mini td img {
}


#footer
{
	background: #F2F3F4;
	font-size: 10px;
	border-top: 1px solid #000000;
}
#footer table td {
	font-size: 10px;
}
table.goal td {
	padding: 3px 3px 3px 3px;
}
table.goal tr.row1
{
	background: #FAEBD7;
	color: #841B2D;
	font-weight: bold;
}
table.goal tr.row2 {
	background: #FE6F5E;
	color: white;
	font-weight: bold;
}
table.jobs tr.row1
{
	background: #FAEBD7;
	color: #841B2D;
	font-weight: bold;
	border: 5px solid #FFF9CC;
	
}
table.jobs tr.row2 {
	background: #FE6F5E;
	color: white;
	font-weight: bold;
}
.realbig {
	padding-top: 20px;
	font-size: 36px;
}
#notice {
	margin-top: 10px;
	font-weight: bold;
}
.showcaseheader {
	font-weight: bold;
	color: red;
}
td.showcaseArticle {
	width: 500px;
}
p.red {
	color: red;
}
p.blue {
	color: blue;
}
p.yellow {
	color: yellow;
}
table#newsletter td {
	padding-left: 10px;
}
table#newsletter td.firstcol {
	width: 75%;
	
}
#my-slider-id {
	margin-left: 10px;
	margin-top: 5px;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 600px; 
    height: 400px;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 600px; 
    height: 400px;
}
.gridStyle3 {
    border: 1px solid rgb(212,212,212);
    width: 600px; 
    height: 400px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: #eaeaea;
}