body {
	margin-left: 20px;
	width: 95%;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	font-family: Arial, Helvetica, Sans-serif;
}
.leftmenu button.btn-default {
	width: 200px;
	margin: 5px;
	font-size: 18px;
	font-weight: bold;
}

.rightmenu {
	background: #FFF9CC;
}
p {
	margin: 0;
	padding: 0;
}
img {
	cursor: pointer;
}
#header {
	background: #F2F3F4;
}

.schoolName {
	color: blue;
	font-weight: bold;
	font-size: 18px;
}

.schoolLocation {
	color: blue;
	font-weight: bold;
	font-size: 14px;
}


.leftmenutable1 {
	background: #5395D1;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 3px solid #E5E5E5;
}
.leftmenutable1 a {
	color: white;
}
.leftmenutable2
 {
	background: #FEFACA;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 3px solid #E5E5E5;
}
.leftmenutable2 a {
	color: red;
}
.leftmenutable3
 {
	background: #7CFF7E;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 3px solid #E5E5E5;
}
.leftmenutable3 a {
	color: green;
}

.mainbodyhomepagetable2
{
	background: #FFD009;
	color: #000000;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 3px solid #E5E5E5;
}

.main_content {
	padding: 5px 5px 5px 5px;
	background: #FFF9CC;
	font-weight: bold;
}

div.photoList > .row > .col-md-3 {
	width: 20%;
	margin-left: 15px;
	padding-left: 15px;
}

/* bootstrap related styles */
.teachersList {
	background: #F2F3F4;
}
.mainbody {
	background: #FFF9CC;
	
}
#footer
{
	background: #F2F3F4;
	font-size: 10px;
	border-top: 1px solid #000000;
}
.realbig {
	padding-top: 20px;
	font-size: 36px;
}
#notice {
	margin-top: 10px;
	font-weight: bold;
}
.showcaseheader {
	font-weight: bold;
	color: red;
}
p.red {
	color: red;
}
p.blue {
	color: blue;
}
p.yellow {
	color: yellow;
}
#my-slider-id {
	margin-left: 10px;
	margin-top: 5px;
	height: 413px;
	width: 550px;
	background-image: url('images/homepage/01.jpg');
	background: red;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: #eaeaea;
}