<div class="main_content">
You are here: Home > About the School
<hr>
- The School name is VANA VANI VIDYALAYA MATRICULATION SCHOOL. <br>
- Started in 1989 in a small place with two students at Gandhi Road, Salem 636007.<br>
- Started in Neikkarapatti, Salem 636 010 in 3.5 acres land in 1991 <br>
- The school is run by a family Trust. The name of the Trust is K.T.S.N.Memorial Charitable Trust.Trustees are Dr N. Saileswaran and Mrs. Nagarathna Saileswaran.<br>
<br>
- We have not taken any Income Tax Exemptions like 80(G) or any other tax benefit.<br>
- The School got State Government Permission to run as School in 1998 for the application filed in 1995.<br>
- The Land is leased to the School on perceptual basis as the trustees wanted the land to be used for the School activities.<br>
- The Building for the School as on Today is 14 thousand Sq.ft which is self financed and Trust runs the Education activities. <br>
<br>
- Now the School has sent four sets of students for X std government Public Examinations and all the years we got 100% Pass. <br>
- We are renewing the Permission from LKG to X STD every three years and the facilities like lab, fire fighting systems and sanitary systems are as prescribed by Government.  .
- We have a bore well in the school which gives water for the school purposes. <br>
- One RO system for the School drinking water purpose.<br>
<br>
- We have on Digital Class where e-learning is given to the students and it is an air conditioned room.<br>
- We have three vans to bring Children from 10 km deeper into the villages.In some locations,our School vans operate in bad roads.<br>
- We have one Open Air Auditorium where we conduct our Annual day and other functions.<br>
- Day today management of School activities are done by a Principal and there are total 19 teaching and non teaching staff.<br>
</div>
