<div class="main_content">
You are here: Home > Contact Us
<hr>
<table>
<tr><td colspan="2">
VANA VANI VIDYALAYA MATRICULATION SCHOOL, K.T.S.N.Memorial Charitable Trust<br>
Neikkarapatti, Salem 636 010 , Tamilnadu, India.<br>
Phone Land line: 0427-6538914, Email: vanavanivmssalem@gmail.com<br>
Website: <a href="www.vanavanisalem.org">www.vanavanisalem.org</a>, Facebook: <a href="www.facebook.com/vanavanisalem">www.facebook.com/vanavanisalem</a>
<hr>
Click on map to see larger map
</td>
</tr>
<tr>
<td><img src="images/map/school_location_01.jpg" width="340px" /></td>
<td><img src="images/map/school_location_02.jpg" width="340px" /></td>
</tr>
</table>
</div>