<div class="main_content">
You are here: Home > Fee Concession Details
<hr>
<table class="fee_concession_details maintable" border="0">
	<tr><td colspan="6" class="left">3 students in one family (academic year 2013 - 14)</td></tr>
	<tr>
		<td class="left">Class</td>
		<td class="left">Name</td>
		<td>I - TERM</td>
		<td>II - TERM</td>
		<td>III - TERM</td>
		<td>TOTAL</td>
	</tr>
	<tr><td class="left">LKG</td><td class="left">S.Shanker</td><td>       810</td><td>       795</td><td>      795</td><td>      2400</td></tr>
	<tr><td class="left">LKG</td><td class="left">V.Tamilarasan</td><td>       810</td><td>        795</td><td>      795</td><td>       2400</td></tr>
	<tr><td class="left">UKG</td><td class="left">V.Elavarasu</td><td>       810</td><td>        795</td><td>      795</td><td>      2400</td></tr>
	<tr><td class="left">UKG</td><td class="left">S.Jagadesan</td><td>       810</td><td>        795</td><td>      795</td><td>       2400</td></tr>
	<tr><td class="left">UKG</td><td class="left">V.Nirmalraj</td><td>       810</td><td>        795</td><td>      795</td><td>       2400</td></tr>
	<tr><td class="left">I STD</td><td class="left">Y.Sandhiya</td><td>       855</td><td>        855</td><td>      855</td><td>       2565</td></tr>
	<tr><td class="left">II STD</td><td class="left">R.Sridhar</td><td>       855</td><td>        855</td><td>      855</td><td>       2565</td></tr>
	<tr><td class="left">II STD</td><td class="left">B.Sundaraperumal</td><td>       855</td><td>        855</td><td>      855</td><td>       2565</td></tr>
	<tr><td class="left">III STD</td><td class="left">R.Siddharathan</td><td>       855</td><td>        855</td><td>      855</td><td>       2565</td></tr>
	<tr><td class="left">V STD</td><td class="left">V.Murugaprakash</td><td>       855</td><td>        855</td><td>      855</td><td>       2565</td></tr>
	<tr><td class="left">V STD</td><td class="left">V.Dhanabalaji</td><td>       855</td><td>        855</td><td>      855</td><td>       2565 </td></tr>
	<tr><td class="left">VI STD</td><td class="left">A.Arun sakthi</td><td>       960</td><td>        960</td><td>      960</td><td>       2880</td></tr>
	<tr><td colspan="6" class="left">I Rank Holders (Fee Concession)</td></tr>
	<tr>
		<td class="left">Class</td>
		<td class="left">Name</td>
		<td>I - TERM</td>
		<td>II - TERM</td>
		<td>III - TERM</td>
		<td>TOTAL</td>
	</tr>
	<tr><td class="left">II STD</td><td class="left">V.Boobalan</td><td>       855</td><td>        855</td><td>      855</td><td>        2565</td></tr>
	<tr><td class="left">III STD</td><td class="left">D.Thanush</td><td>       855 </td><td>        855</td><td>      855</td><td>        2565</td></tr>
	<tr><td class="left">V STD</td><td class="left"> R.Jhanani</td><td>       855</td><td>        855</td><td>      855</td><td>        2565</td></tr>
	<tr><td class="left">IX STD</td><td class="left">A.Sathish kumar</td><td>      1005 </td><td>       1005</td><td>     1005</td><td>        3015</td></tr>
	<tr><td class="left">XSTD</td><td class="left">S.Gnanaprakash</td><td>      1005</td><td>       1005</td><td>     1005</td><td>        3015</td></tr>
	<tr><td colspan="6" class="left">Full Term Fees Concession</td></tr>
	<tr>
		<td class="left">Class</td>
		<td class="left">Name</td>
		<td>I - TERM</td>
		<td>II - TERM</td>
		<td>III - TERM</td>
		<td>TOTAL</td>
	</tr>		
	<tr><td class="left">VI STD</td><td class="left">V.Mythily</td><td>      3200</td><td>       3200</td><td>      3200</td><td>        9600 </td></tr>
	<tr><td class="left">VII STD</td><td class="left">C.Bhuvana</td><td>      3200 </td><td>       3200</td><td>      3200 </td><td>        9600</td></tr>	
</table>
</div>
