<div class="main_content">
You are here: Home > Fee Structure
<hr>
Serial No: 265 <br>
School Code: 13235 <br>
<br>
<b>School Name and Address</b><br> 
Vanavani Vidyalaya Matriculation School<br>
31 Neikkarapatti<br>
Salem<br>
<br>
Hearing Date: 23 May 2013<br>
<table class="fee_structure maintable" border="0">
	<tr><td>Year</td>
	<td>LKG</td>
	<td>UKG</td>
	<td>I</td>
	<td>II</td>
	<td>III</td>
	<td>IV</td>
	<td>V</td>
	<td>VI</td>
	<td>VII</td>
	<td>VIII</td>
	<td>IX</td>
	<td>X</td>
	<td>XI</td>
	<td>XII</td>
	</tr>
	<tr><td>2013 - 14</td>
	<td>8500</td>
	<td>8500</td>
	<td>9000</td>
	<td>9000</td>
	<td>9000</td>
	<td>9000</td>
	<td>9000</td>
	<td>9500</td>
	<td>9500</td>
	<td>9500</td>
	<td>10000</td>
	<td>10000</td>
	<td>-</td>
	<td>-</td>
	</tr>
	<tr><td>2014 - 15</td>
	<td>9350</td>
	<td>9350</td>
	<td>9900</td>
	<td>9900</td>
	<td>9900</td>
	<td>9900</td>
	<td>9900</td>
	<td>10450</td>
	<td>10450</td>
	<td>10450</td>
	<td>11000</td>
	<td>11000</td>
	<td>-</td>
	<td>-</td>
	</tr>
	<tr><td>2015 - 16</td>
	<td>10285</td>
	<td>10285</td>
	<td>10890</td>
	<td>10890</td>
	<td>10890</td>
	<td>10890</td>
	<td>10890</td>
	<td>11495</td>
	<td>11495</td>
	<td>11495</td>
	<td>12100</td>
	<td>12100</td>
	<td>-</td>
	<td>-</td>
	</tr>
</table>
</div>
