<div class="main_content">
You are here: Home > Goals
<hr>
<table class="goal">
<tr class="row1"><td>Focus on quality in queston papers and answer corrections</td></tr>
<tr class="row2"><td>Teachers to send written status reports</td></tr>
<tr class="row1"><td>Evaluate using standardized tests - asset exam etc</td></tr>
<tr class="row2"><td>Proper lesson plans from all teachers</td></tr>
<tr class="row1"><td>Introduce multi media content in teaching</td></tr>
<tr class="row2"><td>Bring in inter school collaboration</td></tr>
<tr class="row1"><td>Participate in inter school competition</td></tr>
<tr class="row2"><td>Bring in student performance tracking system</td></tr>
<tr class="row1"><td>Children above 4th grade should be able to read short stories and write small essays</td></tr>
<tr class="row2"><td>Regular outstation trips</td></tr>
<tr class="row1"><td>Teachers are comfortable using computers</td></tr>
<tr class="row2"><td>Children can present a topic of choice in english</td></tr>
<tr class="row1"><td>Include western dance</td></tr>
<tr class="row2"><td>Conduct regular workshops</td></tr>
<tr class="row1"><td>Allow children to explore and learn on computers</td></tr>
<tr class="row2"><td>Include games as part of curriculum</td></tr>
<tr class="row1"><td>Quality education by way of giving quality question papers for test and exams</td></tr>
<tr class="row2"><td>Bring in quality in teaching by making teachers to send status reports </td></tr>
</table>
</div>
</div>
