<div class=".container">
	<div class="row headerLogo">
		<div class="col-md-1">
			<a href="#/home">
				<img src="images/vanavani_logo.jpg_medium.jpg" width="40px" />
			</a>
		</div>
		<div class="col-md-8">
			<p class="schoolName">VANA VANI VIDYALAYA MATRICULATION SCHOOL</p>
			<p class="schoolLocation">NEIKKARAPATTI, SALEM, TAMILNADU, INDIA</p> 
		</div>
		<div class="col-md-3">
			<p><b><a href="#/mission">Our Mission</a></b></p>
			<p>To provide urban facilities to rural chidren</p>
		</div>
	</div>
	<div class="row headerButtons">
		<div class="col-md-12">
			<a href="#/home"><button type="button" class="btn btn-lg">Home</button></a>
			<a href="#/trustees"><button type="button" class="btn btn-lg">Trustees</button></a>
			<a href="#/pta"><button type="button" class="btn btn-lg">PTA</button></a>
			<a href="#/teachersList"><button type="button" class="btn btn-lg">Teachers List</button></a>
			<a href="#/photoGallery"><button type="button" class="btn btn-lg">Photo Gallery</button></a>
			<a href="#/videoGallery"><button type="button" class="btn btn-lg">Video Gallery</button></a>
			<a href="#/showCase"><button type="button" class="btn btn-lg">Show Case</button></a>
			<a href="#/goals"><button type="button" class="btn btn-lg">Goals</button></a>
			<a href="#/howToSponsor"><button type="button" class="btn btn-lg">How to Sponsor</button></a>
			<a href="#/thankYou"><button type="button" class="btn btn-lg">Thank You!</button></a>
			<a href="http://www.facebook.com/vanavanisalem" target="_blank"><button type="button" class="btn btn-lg">Facebook</button></a>
			<a href="https://sites.google.com/site/vanavanisalem" target="_blank"><button type="button" class="btn btn-lg">For Teachers</button></a>
		</div>
		<div class="col-md-12" id="adminMenu" style="display:none">
			<a href="#/studentsList"><button type="button" class="btn btn-lg">Students List</button></a>
			<a href="#/khanAcademyList"><button type="button" class="btn btn-lg">Khan Academy List</button></a>
			<a href="#/teachersSection"><button type="button" class="btn btn-lg">Teachers Section</button></a>
		</div>
	</div>
</div> 
