<div id="header">
	<table class="header1">
		<tr>
		<td>
		<a href="#/home">
			<img src="images/vanavani_logo.jpg" width="40px" />
		</a>
		</td>
		<td class="col1">			
			<p class="first">VANA VANI VIDYALAYA MATRICULATION SCHOOL</p>
			<p class="second">NEIKKARAPATTI, SALEM, TAMILNADU, INDIA</p> 
		</td>
		<td>
			<p><b><a href="#/mission">Our Mission</a></b></p>
			<p>To provide urban facilities to rural chidren</p>
		</td>
		</tr>
	</table>
	<table class="header2">
		<tr>
			<td class="link"><a href="#/home">HOME</a></td>
			<td class="link"><a href="#/pta">PTA</a></td>
			<td class="link"><a href="#/teachersList">TEACHERS LIST</a></td>
			<td class="link"><a href="#/photoGallery">PHOTO GALLERY</a></td>
			<td class="link"><a href="#/videoGallery">VIDEO GALLERY</a></td>
			<td class="link"><a href="#/showCase">SHOW CASE</a></td>
			<td class="link"><a href="#/contactUs">CONTACT US</a></td>
			<td class="link"><a href="#/jobs">JOBS</a></td>
			<td class="link"><a href="#/phoneList">Phone LIST</a></td>
			<td class="link"><a href="http://www.facebook.com/vanavanisalem" target="_blank">Facebook</a></td>
		</tr>
	</table>
</div> 
