<div id="mainbodyhomepage">
	<div class="row">
		<div id="mainpagecol2" class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading"><a href="#/aboutTheSchool">Key Facts</a></div>
				<div class="panel-body">
					<a href="#/aboutTheSchool">Started in 1989</a><br> <a
						href="#/trustees">Run by family trust</a><br> <a
						href="#/aboutTheSchool">100% pass</a><br> <a
						href="#/aboutTheSchool">State approved</a><br> <a
						href="#/home">Digital Class</a><br> <a href="#/home">Three
						School Vans</a><br> <a href="#/home">LKG to X std</a>
				</div>
			</div>
		</div>
		<div id="mainpagecol1" class="col-md-7">
			<div ng-include="'partials/sliderotator.html'"></div>
		</div>
		<div class="col-md-2 circles">
			<div class="circleText">Our Values</div>
			<div class="circle circle1">Confident</div>
			<div class="circle circle2">Courageous</div>
			<div class="circle circle3">Compassionate</div>
			<div class="circle circle4">Competitive</div>
			<div class="circle circle5">Courteous</div>
		</div>
	</div>
</div>
