<div id="mainbodyhomepage">
	<div class="row">
		<div class="col-md-2">
			<div class="circle circle1">Confident</div>
		</div>	
		<div class="col-md-2">
			<div class="circle circle2">Courageous</div>
		</div>	
		<div class="col-md-2">
			<div class="circle circle3">Compassionate</div>
		</div>	
		<div class="col-md-2">
			<div class="circle circle4">Competetive</div>
		</div>	
		<div class="col-md-2">
			<div class="circle circle5">Courteous</div>
		</div>	
	</div>
	<div class="row">
		<div id="mainpagecol1" class="col-md-7">
			<div ng-include="'partials/sliderotator.html'"></div>
		</div>
	</div>
</div>
