<div id="mainbodyhomepage">
	<div class="row">
		<div class="col-md-8">
		   <div ng-include="'partials/sliderotator.html'"></div>
		</div>
		<div class="col-md-2">
			<div class="row mainbodyhomepagetable2">
				<a href="#/aboutTheSchool">Started in 1989</a>
			</div>
			<div class="row mainbodyhomepagetable2">
				<a href="#/trustees">Run by family trust</a>
			</div>
			<div class="row mainbodyhomepagetable2">
				<a href="#/aboutTheSchool">100% pass</a>
			</div>
			<div class="row mainbodyhomepagetable2">
				<a href="#/aboutTheSchool">State approved</a>
			</div>
			<div class="row mainbodyhomepagetable2">
				<a href="#/home">Digital Class</a>
			</div>
			<div class="row mainbodyhomepagetable2">
				<a href="#/home">Three School Vans</a>
			</div>
			<div class="row mainbodyhomepagetable2">
				<a href="#/home">LKG to X std</a>
			</div>
		</div>
	</div>	
</div>
