<div class="main_content">
You are here: Home > How to Sponsor
<hr>
You can sponsor a child (or children) through the IBFT facility provided by your bank.<br><br>
Name of Bank: The South Indian Bank Ltd<br>
Branch: Salem Main Branch, Tamilnadu, Pin: 636010<br>
IFSC Code: SIBL0000075<br>
Account Name: The Correspondent, Vana vani Vidyalaya Matriculation School<br>
(You can also use this: Vanavani Vidyalaya Matric School)<br>
Account No: 0075053000007248<br>
Nature of account: Savings Bank Account<br><br>
The money will be used for the welfare of the children studying in the school.
<hr>
</div>
