<div class="main_content">
You are here: Home > Jobs
<hr>
Last Update: Mar 22, 2014 <br>
<table class="jobs">
<tr class="row1"><td>
<p class="red">English Teacher for all grades</p>
We are looking for individuals with decent communication skills in English. They need to have a passion in 
educating children from weaker economic backgrounds. Experience in using innovative methods in teaching 
will be preferred.<br>
Candidates should be graduates, preferably with a B.Ed.
</td>
<td><img src="images/2014_jobs/english_jobs.jpg_medium.jpg" />
</td></tr>
<tr class="row2"><td>
<p class="yellow">Maths Teacher for all grades</p><br>
We are looking for individuals who are strong in Maths. 
Experience in using innovative methods in teaching will be preferred.
Candidates should be graduates, preferably with a B.Ed. or a M.Sc in Maths.
</td>
<td><img src="images/2014_jobs/maths_jobs.jpg_medium.jpg" />
</td></tr>
<tr class="row1"><td>
<p class="red">KinderGarten Teacher</p><br>
We are looking for individuals who have a strong passion for working with children. 
Experience in using innovative methods in teaching will be preferred.
Candidates should be graduates and should be able to speak English.
</td>
<td><img src="images/2014_jobs/kindergarten_jobs.jpg_medium.jpg" />
</td></tr>
<tr class="row2"><td>
<p class="yellow">Office Staff</p>
<br>
We are looking for individuals who can speak English and have experience working with computers. 
<br>
Candidates should be graduates.
</td>
<td><img src="images/2014_jobs/office_staff_jobs.jpg_medium.jpg" />
</td></tr>
</table>
For all positions, salary will be commensurate with experience and on par with the market. <br>
</div>
