<div>
	<div id="mainpagecol2">
		<div class="panel panel-default">
			<div class="panel-heading"><a href="#/aboutTheSchool">Key Facts</a></div>
			<div class="panel-body">
				<a href="#/aboutTheSchool">Started in 1989</a><br> <a
					href="#/trustees">Run by family trust</a><br> <a
					href="#/aboutTheSchool">100% pass</a><br> <a
					href="#/aboutTheSchool">State approved</a><br> <a
					href="#/home">Digital Class</a><br> <a href="#/home">Three
					School Vans</a><br> <a href="#/home">LKG to X std</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><a href="#/photo/photoTree">Photos & Videos</a></div>
			<div ng-include="'partials/photo/photoTree.html'"></div>
		</div>
	</div>
</div>