<table class="leftmenutable">
	<tr><td class="leftmenutable1"><a href="#/aboutTheSchool">About the School</a></td></tr>
	<tr><td class="leftmenutable1"><a href="#/trustees">Trustees</a></td></tr>
	<tr><td class="leftmenutable1"><a href="#/newsLetter">News Letter</a></td></tr>
	<tr><td class="leftmenutable1"><a href="#/studentParticulars">Student Particulars</a></td></tr>
	<tr><td class="leftmenutable2"><a href="#/feeStructure">Fee Structure</a></td></tr>
	<tr><td class="leftmenutable2"><a href="#/feeConcessionDetails">Fee Concession Details</a></td></tr>
	<tr><td class="leftmenutable3"><a href="#/goals"><img src="images/goal_icon.jpg" height="20px" />Goals</a></td></tr>
	<tr><td class="leftmenutable3"><a href="#/howToSponsor"><img src="images/sponsor_icon.jpg"  height="20px"/>How to Sponsor</a></td></tr>
	<tr><td class="leftmenutable3"><a href="#/thankYou"><img src="images/thank_you_icon.jpg"  height="20px"/>Thank You!</a></td></tr>
	<tr><td class="leftmenutable3"><a href="#/nggrid-example"><img src="images/thank_you_icon.jpg"  height="20px"/>NGGrid-Example</a></td></tr>
</table>	
