<div class="leftmenu">
<div class="row">
	<a href="#/aboutTheSchool"><button type="button" class="btn btn-default btn-info">About the School</button></a>
</div>
<div class="row">
	<a href="#/trustees"><button type="button" class="btn btn-default btn-info">Trustees</button></a>
</div>
<div class="row">
	<a href="#/newsLetter"><button type="button" class="btn btn-default btn-info">News Letter</button></a>
</div>
<div class="row">
	<a href="#/studentParticulars"><button type="button" class="btn btn-default btn-danger">Student Particulars</button></a>
</div>
<div class="row">
	<a href="#/feeStructure"><button type="button" class="btn btn-default btn-danger">Fee Structure</button></a>
</div>
<div class="row">
	<a href="#/feeConcessionDetails"><button type="button" class="btn btn-default btn-danger">Fee Concession Details</button></a>
</div>
<div class="row">
	<a href="#/goals"><button type="button" class="btn btn-default btn-success"><img src="images/goal_icon.jpg" height="20px" />Goals</button></a>
</div>
<div class="row">
	<a href="#/howToSponsor"><button type="button" class="btn btn-default btn-success"><img src="images/sponsor_icon.jpg"  height="20px"/>How to Sponsor</button></a>
</div>
<div class="row">
	<a href="#/thankYou"><button type="button" class="btn btn-default btn-success"><img src="images/thank_you_icon.jpg"  height="20px"/>Thank You!</button></a>
</div>
</div>