<div class="main_content">
You are here: Home > Mentors
<hr>
<h4>What is mentoring?</h4>
<p>Mentoring is to support and encourage children to manage their own learning 
in order that they may maximise their potential, develop their skills, 
improve their performance and become the person they want to be.</p>
<h4>How do we do mentoring at Vanavani?</h4>
<p>We use SKYPE. Our skype id is vanavanivmssalem</p>
<h4>How new mentors should approach mentoring</h4>
<p>1. Confidence building is very important. Initially, the mentors should have a very open conversation.
They can ask for the children names, ages, what subjects they like. </p>
<br>
We have found story telling to be very good at connecting with the children. 

<h4>Where can I find material to help me out as a mentor?</h4>
<a href="#/mentoring/links">Please click here</a>
<br> 
</div>
