<div class="main_content">
You are here: Home > News Letter
<hr>
<table id="newsletter">
<tr>
<td class="firstcol">
&nbsp;
</td>
<td><a target="_blank" href="newsletter/Vanavani Vidyalaya - Mar 2014 newsletter.pdf">Mar 2014</a></td>
<td><a target="_blank" href="newsletter/Vanavani Vidyalaya - Feb 2014 newsletter.pdf">Feb 2014</a></td>
</tr></table>
<p class="red"><b>Jul 2014 newsletter</b></p>
<p class="red">Skype Sessions</p><br>
We are continuuing with our skype sessions covering all classes from 1st standard to 8th standard. 
The goal of these sessions is to make external mentoring available to all the children so they
can learn about different experiences. 

 
</div>
