<div class="main_content">
You are here: Home > News Letter
<hr>
We are continuuing with our skype sessions covering all classes from 1st standard to 8th standard. 
The goal of these sessions is to make external mentoring available to all the children so they
can learn about different experiences. 

<h4>Previous Update</h4>
The last few months has been an exciting journey for all of us at Vanavani Vidyalaya Matriculation School. There were a number of accomplishments:<br>
a. We started a new website for the school<br>
b. We also started a new facebook account<br>
c. We introduced skype<br>
d. We introduced English special coaching<br>
e. We put up goals for our teachers<br>
f. Evaluation system for teachers was introduced.<br>
g. Multi-media content was introduced – Khan Academy and PHET<br>
h. External examination was used to evaluate students.<br>
i. Fee collection was streamlined.<br>
<br>
Here is the story of how we went about doing this. In every innovation, a lot of thought went into a) keeping expenses down b) use existing infrastructure whenever possible c) Dont create too much unpleasantness.<br>
<br>
<p class="red">The Start</p><br>
When we visited Vanavani Vidyalaya school in November 2013 on Childrens day, we were surprised to see such a wonderful collection of handiwork and crafts done by the children. We took a lot of photos. At that point, we only had 2 goals a) putting a website b) arranging a mid day meal scheme for the children.<br>
When we started talking to the children, we quickly realized two things: a) The children could not talk about what there were presenting b) All communication was in the local language.<br>
The initial discussions were about how to improve English standards in the school and how to get the children to start talking and asking questions. We also wanted to put up a website so we can attract sponsors for a mid day meal scheme. The cost was estimated to be Rs. 4000 per child per year.<br>
<br>
<p class="red">Initial Website</p><br>
The first website was a very simple one. We used Google free site creator and put some introductory material on the site. It looked plain but it was easy to add content. We circulated it to a few friends. We put up basic contact information and a small map.<br>
<br>
<p class="red">Updated website</p><br>
In Dec 2013, the new website was born after 2 days of consecutive night-outs. It had a lot more color, lot more photos and was more professional. A facebook account was also created at the same time.<br>
<br>
<p class="red">Introducing Mid day Meal</p><br>
At the same time, we managed to collect a few sponsorships and started mid day meals for all children. Hygienic food was served and consumed at the school premises. We planned to do this every alternate weekend.<br>
<br>
<p class="red">Installing skype</p><br>
The school had 2 computers and a smart class (big white board connected to a projector). We wanted to install skype but ran into some technical issues. This got resolved with some technical help. It took almost 2 weeks to be able to use skype properly between Chennai and Salem. We procured a new web cam for this purpose.<br>
<br>
<p class="red">Getting an English teacher</p><br>
We wanted a proper English teacher but this was a challenge. Luckily, we knew a friend with some English teaching experience. He came along for a visit to the school and interacted with the teachers. But there was still a constraint that he could operate only from Chennai. We wanted to see how well we could do this teaching through skype. After a 2 week effort, that involved some hard disk crashes,  reinstalling of operating systems and skype password issues, we finally got the computers to work with skype installed. The classes started with the teachers. We fixed a particular time and we started with the basics of English. After 2 weeks, all the teachers said that the classes were very useful for them and they started making minor adjustments in their classes to introduce more English.<br>
<br>
<p class="red">Introducing video material</p><br>
Classes were typically held in conventional style. Teachers stated their lessons out loud, children repeated after the teachers, subjects got written on black boards and tests were given. We decided to bring in more variety. We introduced Khan Academy, which is a set of videos for Maths, Physics and Chemistry. The videos are of excellent quality, but they were all in American English. At first, it was a struggle for the teachers. Slowly, after repetitive sessions, teachers started feeling comfortable with this method of teaching and started teaching the students as well. The plan is to include these videos as part of the curriculum.<br>
We also got a very nice set of children videos. These demonstrate how to make scientific experiments from cheaply available material.<br>
For science and maths, we used a set of interactive software given by Colorado university. This allowed the students and teachers to interactively learn about laws of motion, gravity, reflection and a host of other topics.<br>
The teachers have seen the value of this new material and are eager to learn more and use this in their day to day teaching.<br>
<br>
<p class="red">Introducing different methods in teaching</p><br>
We also looked at the environment and classrooms and thought about what else we could change. We encouraged out-door lessons – children were taken outdoors and lessons were taken. To start this, this was confined to moral stories and tamil. Slowly, we want to extend this to understanding about nature and teaching science in a practical manner.<br>
We also video-taped a few classes to figure out how classes were currently conducted and what kind of improvements will make sense. This lent some insight into how classes are conducted in rural schools. Mainly, teachers are extremely active and fully involved. The children are also actively involved along with the teacher in reading, listening, answering and writing.<br>
<br>
<p class="red">Looking at exam papers</p><br>
When we looked at the marks scored by the students, we were in for a big surprise. We expected the students to score low, which was not the case. In fact, most students had scored very high marks in their half yearly exams. Also, these question papers were not set by the school teachers. They were in fact set by the government.<br>
When we looked at the question papers closely, the problem became apparent. There were 2 concerns:<br>
a.  The questions were mostly very direct and simple.<br>
b.  There was a lot of choice available.<br>
Added to this was the very lenient way in which correction was done. Spelling mistakes were forgiven. Half answers were given full marks.<br>
We thought this was a serious problem because the child would never know where they are not learning. A child who scores 60/60 does not know where he/she is weak. The weaknesses become apparent in later life when they struggle to cope with urban students.<br>
We have decided to introduce internal exams which will be built out of a mix of simple, medium and difficult questions. The marking also will be strengthened. When students realize their true capability, learning will follow.<br>
<br>
<p class="red">Assessing with External Exams</p><br>
The other aspect was: How well would our students do in competitive exams? To know this, we came up with a smaller version of the asset exam. This asset exam contained 5th standard questions – a mix of 6 english, 7 maths and 7 science questions. We conducted this for 5th, 6th and 7th standard.<br>
The results were surprising. 5th std children scored better than 6th or 7th. Out of about 55 students, 5 scored more than 15 out of 20. The majority scored between 8 and 14. The real problem was that, the students could not understand the questions so they ended up guessing. This is a problem of English comprehension and lack of proper test taking ability. Many children has left many questions unanswered though there was no negative marking.<br>
We need to regularly conduct mock competitive exams to make sure our children are better prepared when they graduate.<br>
<br>
<p class="red">Improving writing skills</p><br>
We found that there is hardly any opportunity for teachers to write formally. They were not conversant with computers and their job did not require them to write in a formal manner. We decided to improve this aspect: Teachers are encouraged to send weekly status reports and lesson plans. They have also started writing small articles and poems which are posted on our website. When teachers start writing well, they will surely encourage their students to write more. Writing skills is critical for business success.<br>
<br>
<p class="red">Developing our drama and culture</p><br>
One area where we found the kids to be strong is dancing and local arts. The school day function was celebrated with fan fare, the kids danced to film songs and it all came out extremely well. We want to encourage this and see how best we can use dance in education. We also want to introduce different types of dance and other kinds of cultural activities. We want to create opportunities for inter school competition as well.<br>
<br>
<p class="red">Involving the parents</p><br>
No social change is possible without the involvement of the community. We invited the parents for a meeting to talk about our recent changes. About 35 parents turned up and some of them were very happy with the progress they saw in their children. The children were starting to talk in small English phrases. We spoke about our goals and requested full parental involvement in the child's growth.<br>
One of the big challenges that the school faced was in fee collection. We started making daily calls and explaining all the different changes we were bringing in and stressing on them the importance of a child’s education. We found that the calls had the necessary effect in some cases.<br>
<br>
<p class="red">Setting Goals and Performance appraisal for teachers</p><br>
These changes would have been very difficult if not for the full cooperation of the teachers. Right from the start, the teachers were engaged fully and every month, we would walk through all the school’s goals with them. The management was very direct and forthright: This is how we want the school to grow and we expect your full cooperation. No doubt, there will be incentives when we have small achievements. Goals were quite widespread – getting more admissions, maintaining discipline, introducing innovation, increase English speaking ability to name a few.<br>
Teachers were given a lot of material free of cost to educate themselves – English audios, essays, website links, and access to computers. Special computer classes were reserved for teachers and daily mentoring sessions were arranged.<br>

<hr>
<h4>Previous Update</h4>

We had circulated a 10 minute audio to the government school authorities in the beginning 
of the month. This covered three areas - competitive exams, computer knowledge and 
communication skills. <br><br>
On hearing this, the authorities agreed to send a group of X standard students.<br><br>
On career fair day, we held 2 sessions to cover about 80 students. For the girls, focus was 
put on computers and communication skills. For the boys, the focus shifted to mechanical 
and electrical engineering. Since the majority of the participants came from lower 
economic backgrounds and many of them had trouble understanding English, the oration 
was done both in Tamil and in English.<br><br>
The material included covered all the diploma courses that could be taken after X std. 
Focus was on landing a job as soon as possible with the least expense in studies. 
The feedback was encouraging. The teachers who accompanied said that 
these students had never got this kind of exposure before. It was an eye opener for them.<br><br> 
<p class="red">Interviewing the teachers</p><br>
We also advertised for teachers in mass media - indeed.com, newspaper ads and the website. 
We got a number of profiles and we did a few phone and face to face interviews. 
The idea is to get teachers with good English communication skills with appropriate 
qualification.<br> 
<br>
<p class="red">Getting expenses and vacation register online</p><br>
We also managed to get the daily expenses register and vacation register online 
with password protection. This helps to keep an accurate record and observe patterns 
in expenditure and leave taking.<br>
<br>
<p class="red">Asset Exam conducted for teachers</p><br>
All teachers wrote the Asset Exam meant for IXth standard. This helped to identify strengths 
and weaknesses so that we can conduct better teacher training and also use the teachers 
in their areas of strength.<br> 
<br>
<p class="red">Discussion on setting up factory like training at the school</p><br>
On March 15, we had a discussion with our chief sponsors regarding setting up some training 
facilities at the school. We decided to setup a small facility with a lathe and some 
electrical apparatus for students to get trained in. Details need to be worked out.<br>
<br>
<p class="red">Student Exchange Program</p><br>
We also approached the principal of Sri Sankara Senior Secondary School, Adayar, Chennai 
and got her approval to send 2 children from Vanavani. They could sit along with the usual 
classes and get the benefit of education from CBSE trained teachers. We have to work out 
a suitable time next school year to do this. We will also get a couple of students from 
the city to study at Vanavani.<br>
<br>
<p class="red">Skype based mentoring</p><br>
We would like to thank Mrs Jaya for her initiative in mentoring a group of 5 children over 
skype. She has been able to get them to speak freely and is able to spot strengths and 
weaknesses in the children. We hope to increase this to more children once school reopens.<br> 
 
</div>
