 <p> <b> Feb 14, 2014 </b> </p>
 <p><a href="/vanavaniweb/photo_show_all.php?folder=2014_parent_orientation_day">Parent orientation day </a></p>
 <br>
 <p> <b> Jan 25, 2014 </b> </p>
 <p><a href="/vanavaniweb/photo_show_all.php?folder=2014_23rd_annual_day">23rd annual day celebrated at Vanavani. </a></p>
 <br>
 <p> <b> Jan 23, 2014 </b> </p>
 <p> <a href="/vanavaniweb/photo_show_all.php?folder=2014_skype_session">Skype Sessions started. Click to see photos. </a></p>
 <br>
 <p> <b> Jan 21, 2014 </b> </p>
 <p> <a href="/vanavaniweb/photo_show_all.php?folder=2014_sports_day">Sports Day celebrated. Click to see photos. </a></p>
 <br>
 <p> <b> Jan 14, 2014 </b> </p>
 <p> <a href="/vanavaniweb/photo_show_all.php?folder=2014_pongal">Pongal celebrations. Click to see photos. </a></p>
 <br>
 <p> <b> Dec 25, 2013 </b> </p>
 <p> <a href="/vanavaniweb/photo_show_all.php?folder=2013_mettur_dam">Children went to mettur dam. Click to see photos. </a></p>
 <br>
 <p> <b> Dec 20, 2013 </b> </p>
 <p> New look website launched. Planning for republic day celebrations. </p>
 <br>
 <p> <b> Dec 15, 2013 </b> </p>
 <p>  <a href="http://www.facebook.com/vanavanisalem">Facebook site launched. </a></p>
 <br>
 <p> <b> Nov 14, 2013 </b></p>
 <p> <a href="/vanavaniweb/photo_show_all.php?folder=2013_childrens_day">Childrens day celebrated with fanfare. All the children presented arts, crafts and science exhibits to the chief guests.  </a></p>
