<div class="main_content">
You are here: Home > Photo Gallery
<hr>
<div class="photoList">
	<div class="row">
		<div class="col-md-6">Click on photo to open photo gallery</div>
	</div>
	<div class="row">
		<div class="col-md-3"><a href="#/photoShowAll/2014_independence_day"><img src="images/2014_independence_day/SAM_0520.JPG_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/2014_career_fair"><img src="images/2014_career_fair/IMG_20140329_104633.jpg_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/2014_outdoor_classes"><img src="images/2014_outdoor_classes/SAM_0159.JPG_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/2014_23rd_annual_day"><img src="images/2014_23rd_annual_day/SAM_0041.JPG_medium.jpg" /></a></div>
	</div>			
	<div class="row">
		<div class="col-md-3">Independence Day 2014</div>
		<div class="col-md-3">Parent Orientation Day 2014</div>
		<div class="col-md-3">Outdoor classes 2014</div>
		<div class="col-md-3">Annual Day 2014</div>
	</div>
	<div class="row">
		<div class="col-md-3"><a href="#/photoShowAll/2014_pongal"><img src="images/2014_pongal/SAM_4587.JPG_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/2014_sports_day"><img src="images/2014_sports_day/SAM_2262.JPG_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/2014_skype_session"><img src="images/2014_skype_session/SAM_0005.JPG_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/2013_mettur_dam"><img src="images/2013_mettur_dam/SAM_4463.JPG_medium.jpg" /></a></div>
	</div>			
	<div class="row">
		<div class="col-md-3">Pongal 2014</div>
		<div class="col-md-3">Sports Day 2014</div>
		<div class="col-md-3">Skype Session 2014</div>
		<div class="col-md-3">Mettur Dam 2013</div>
	</div>
	<div class="row">
		<div class="col-md-3"><a href="#/photoShowAll/2013_childrens_day"><img src="images/2013_childrens_day/2013-11-16 15.14.42.jpg_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/mid_day_meal"><img src="images/mid_day_meal/SAM_4415.JPG_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/independence_day"><img src="images/independence_day/ind_day03.jpg_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/school_facilities"><img src="images/school_facilities/library.jpg_medium.jpg" /></a></div>
	</div>			
	<div class="row">
		<div class="col-md-3">Childrens Day 2013</div>
		<div class="col-md-3">Mid Day Meal 2013</div>
		<div class="col-md-3">Independence Day</div>
		<div class="col-md-3">School Facilities</div>
	</div>
	<div class="row">
		<div class="col-md-3"><a href="#/photoShowAll/vinayaka_chaturthi"><img src="images/vinayaka_chaturthi/vinayaka02.jpg_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/photoShowAll/tour"><img src="images/tour/tour02.jpg_medium.jpg" /></a></div>
	</div>			
	<div class="row">
		<div class="col-md-3">Vinayaka Chaturthi</div>
		<div class="col-md-3">Tour</div>
	</div>
</div>
</div>
