<div class="main_content">
You are here: Home > PTA
<hr>
The PTA is a vibrant supplementary component of the School, apart from the annual academic pursuits of the schools. The
PTA has always been a pillar of strength and support to the efforts of the school in curricular and co-curricular fronts. Meritorious
students in academic and sports are recognized by the School.<br><br>
Teachers Day is celebrated in a grand manner by PTA and the teachers are honored. The school has always been appreciative of the
spontaneous and supportive endeavors of the PTA.<br><br>
Parents enjoy an active participation in the teaching-learning process provided in the class rooms through the widely appreciated
programme of 'Class Observation'. In addition to this,an orientation session-workshop is conducted for the parents of KG. This
programme aimed at early identification of talents in children to be nurtured effectively from the beginning. Guidelines to assist
children with learning difficulties were also provided. PTA with their coordinated efforts with the management continues providing
qualitative education and also helps in moulding impressionable young minds . An open day is held after each evaluation, each
examination, each term, when parents come to meet the teachers, to discuss about their wards and build up cooperation tolerance
and mutual exchange of ideas.<br>
</div>
