<div>
	<div class="panel panel-default">
		<div class="panel-heading">Newsletters</div>
		<div class="panel-body">
			<a target="_blank" href="newsletter/Vanavani Vidyalaya - Mar 2014 newsletter.pdf">Mar 2014</a><br>
			<a target="_blank" href="newsletter/Vanavani Vidyalaya - Feb 2014 newsletter.pdf">Feb 2014</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Fee Structure</div>
		<div class="panel-body">
			<a href="#/feeStructure"><div vanavani-fee-structure ng-controller="feeStructureCtrl" ng-model="data" style="width:200px;height:100px"></div></a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Our Location</div>
		<div class="panel-body">
			<a href="#/contactUs"><img src="images/map/school_location_01.jpg" width="200px" /></a>
		</div>
	</div>
</div>