<div>
	<a href="#/newsLetter">
	<div class="panel panel-default panel-primary">
		<div class="panel-heading">Newsletters</div>
		<div class="panel-body">
			We have lots of happenins (skype session, school day celebrations, outside tours) to talk about. Click here for more.
		</div>
	</div>
	</a>
	<div class="panel panel-default panel-success">
		<div class="panel-heading"><a href="#/feeStructure">Fee Structure</a></div>
		<div class="panel-body">
			<div vanavani-fee-structure ng-controller="feeStructureCtrl" ng-model="data" style="width:200px;height:100px"></div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading"><a href="#/contactUs">Our Location</a></div>
		<div class="panel-body">
			<img src="images/map/school_location_01.jpg" width="200px" />
		</div>
	</div>
</div>