<div class="main_content">
You are here: Home > Teachers List
<hr>
<table class="teachers_list maintable">
<tr>
	<td>SNo</td>
	<td>Name of staff</td>
	<td>Image (click)</td>
	<td>Designation / Class</td>
	<td>Subject</td>
	<td>Date of joining<br> first post <br> present post <br> Joining school</td>
</tr>	
<tr><td>1</td><td>GOBI.K</td>
<td><img src="images/teachers/01_gobi_k.jpg_medium.jpg" /></td>
<td>PRINCIPAL<br>IX,X</td><td>ENGLISH<br>HISTORY</td><td>1-6-2001<br>14-11-2011<br>14-11-2011</td></tr>

<tr><td>2</td><td>MEENA .M</td>
<td><img src="images/teachers/02_meena_m.jpg_medium.jpg" /></td>
<td>VP<br>VIII-X</td><td>MATHS</td><td>12-7-2003<br>8-5-2005<br>8-5-2005</td></tr>

<tr><td>3</td><td>CHINTHAMANI .C</td>
<td><img src="images/teachers/03_chintamani_c.jpg_medium.jpg" /></td>
<td>TAMIL TEACHER<br>VIII-X</td><td>TAMIL</td><td>9-7-1993<br>9-7-1993<br>9-7-1993</td></tr>

<tr><td>4</td><td>KALIAMMAL.K</td>
<td><img src="images/teachers/04_kaliammal_k.jpg_medium.jpg" /></td>
<td>GT<br>VI-VIII</td><td>SCIENCE</td><td>12-7-2000<br>6-6-2005<br>6-6-2005</td></tr>

<tr><td>5</td><td>DEIVAKUMAR.S</td>
<td><img src="images/teachers/05_deivakumar_s.jpg_medium.jpg" /></td>
<td>SEC. GRADE<br>VI-VIII</td><td>HISTORY</td><td>3-6-2008<br>3-6-2008<br>3-6-2008</td></tr>

<tr><td>6</td><td>SATHIYAMOORTHY.S</td>
<td><img src="images/teachers/06_sathiamoorthy_s.jpg_medium.jpg" /></td>
<td>GT<br>VIII-X</td><td>SCIENCE</td><td>11-6-2006<br>3-6-2009<br>3-6-2009</td></tr>

<tr><td>7</td><td>DHINAKARAN.M</td>
<td><img src="images/teachers/07_dhinakaran_m.jpg_medium.jpg" /></td>
<td>GT<br>VI-X</td><td>SCIENCE</td><td>5-6-2008<br>2-6-2010<br>2-6-2010</td></tr>

<tr><td>8</td><td>DEVI.G</td>
<td><img src="images/teachers/08_devi_g.jpg_medium.jpg" /></td>
<td>PRIMARY<br>II</td><td>GENERAL</td><td>2-6-2009<br>2-7-2012<br>2-7-2012</td></tr>

<tr><td>9</td><td>AMUTHA.S</td>
<td><img src="images/teachers/09_amutha_s.jpg_medium.jpg" /></td>
<td>PRIMARY<br>I</td><td>GENERAL</td><td>4-6-2010<br>2-7-2012<br>2-7-2012</td></tr>

<tr><td>10</td><td>AMALORPUVAMARY.A</td>
<td><img src="images/teachers/10_amalorpuva_mary.jpg_medium.jpg" /></td>
<td>SEC. GRADE<br>IV-VI</td><td>HISTORY</td><td>21-7-2011<br>2-7-2012<br>2-7-2012</td></tr>

<tr><td>11</td><td>BABY.S</td>
<td><img src="images/teachers/11_baby_s.jpg_medium.jpg" /></td>
<td>GT<br>VI-X</td><td>MATHS</td><td>2-7-2012<br>2-7-2012<br>2-7-2012</td></tr>

<tr><td>12</td><td>SOBAMANI.R</td>
<td><img src="images/teachers/12_sobamani_r.jpg_medium.jpg" /></td>
<td>PRIMARY<br>III</td><td>GENERAL</td><td>2-6-2009<br>2-6-2009<br>2-6-2009</td></tr>

<tr><td>13</td><td>DEEPARANI.R</td>
<td><img src="images/teachers/13_deeparani_r.jpg_medium.jpg" /></td>
<td>PRIMARY<br>KG</td><td>GENERAL</td><td>2-6-2009<br>2-6-2009<br>2-6-2009</td></tr>

<tr><td>14</td><td>PRIYA.S </td>
<td><img src="images/teachers/14_priya_s.jpg_medium.jpg" /></td>
<td>SEC. GRADE<br>III-IV</td><td>SCIENCE</td><td>15-7-2013<br>15-7-2013<br>15-7-2013</td></tr>

<tr><td>15</td><td>POORNIMA.S</td>
<td><img src="images/teachers/15_poornima_s.jpg_medium.jpg" /></td>
<td>COMP.TEACHER<br>V-VIII</td><td>COMPUTER</td><td>10-6-2013<br>10-6-2013<br>10-6-2013</td>

</tr></table>
</div>
