<div class="main_content">
You are here: Home > Thank You
<hr>
We wish to thank all the sponsors who have contributed to the welfare of the children.<br><br>
<table class="thank_you_table maintable">
<tr>
<td>Monisha S</td><td>New Jersey</td>
<td>Rs. 8000</td><td>Jan 2014</td>
</tr>
<tr>
<td>V. Chandrasekhar</td><td>Chennai</td>
<td>Rs. 25000</td><td>Dec 2013</td>
</tr>
<tr>
<td>Krishnamoorthy</td><td>Chennai</td>
<td>Computer</td><td>Dec 2013</td>
</tr>
<tr>
<td>Praveen Benguluru</td><td>Chennai</td>
<td>Rs. 4000</td><td>Nov 2013</td>
</tr>
<tr>
<td>K. Narayanan</td><td>Chennai</td>
<td>Rs. 8000</td><td>Nov 2013</td>
</tr>
<tr>
<td>Super Auto Forge</td><td>&nbsp;</td>
<td>Rs. 200000</td><td>They sponsor 1 lakh every year.</td>
</tr>
<tr>
<td>Manohar Lulla</td><td>&nbsp;</td><td>Rs. 10000</td>
<td>&nbsp;</td></tr>
<tr><td>Kantheeswaran S</td><td>&nbsp;</td><td>Rs. 5000</td>
<td>&nbsp;</td></tr>
<tr>
<td>Murali K</td><td>&nbsp;</td><td>Rs. 5000</td>
<td>&nbsp;</td></tr>
</table>
</div>
