<div class="main_content">
You are here: Home > Trustees
<hr>
<table>
	<tr>
		<td><img src="images/dr_sail.jpg" /></td>
		<td><img src="images/nagarathna_saileswaran.jpg" /></td>
	</tr>	
	<tr>
		<td>Dr. Saileswaran</td>
		<td>Mrs. Nagarathna Saileswaran</td>
	</tr>	
</table>
<hr>
<details>
<summary><b>PROFILE</b><br></summary>
DR.N.SAILESWARAN   B.E.(Hons), M.E.,Ph.D., <br>
Trustee, Vanavani Educational Trust, Salem, Tamilnadu, India.<br>
NATIONAL REPAIR AND RESTORATION CO.LTD.5,CSI BUILDING,FORT MAIN ROAD, SALEM - 636006.<br>
</details>
<br>
<details>
<summary><b>EDUCATION: </b><br></summary>
1. After obtaining basic education in school at Namagiripet, Salem, studied in Annamali University, Chidambaram, Tamilnadu, India and passed B.E. Mechanical in 1967 with honours.<br>
2. Subsequently higher education in M.E.  (Foundry Science and Engineering) from Indian Institute of Science, Bangalore  (1969).<br>
3. Further a feather in the cap with Ph.D. (Metallurgy)  from Indian Institute  of Technology, Madras (1973)<br>
</details>
<br>
<details>
<summary><b>PROFESSIONAL ACHIEVEMENTS:</b><br></summary>
1. Honours in B.E. Mechanical with best student award.<br>
2. Presented Technical  Papers  in  National  and  International   Seminars/Conventions.<br>
3 .Member, Common Wealth Study Conference Association and visited Australia in 1986 as a member and presented the report on the Tour.<br>
4. Presented technical papers in International Seminar on Repair and restoration of Reinforced concrete structures in Orlando, Dec.1998.
5. Developed materials and systems for repair and restoration of buildings and structures and presented a number of technical papers in international seminars and conventions.<br>
6. Presented technical papers in International Seminar on Repair and Restoration of Reinforced concrete structures in Orlando, Dec.1998<br>
7. Consultant to many Metallurgical industries like rolling mills, sponge iron and steel melting units.<br>
</details>
<br>
<details>
<summary><b>POSITIONS HELD:</b><br></summary>
1.  Director, Cherandu  Small Scale Industries Service Co-operative  Society  (1976-79).<br>
2.  Chairman,  Salem  Round  Table  28  (1977-78).  <br>
3.  Vice - President, Salem Small Scale  Industries Associations  (1978).<br>       
4.  Charter  President  Rotary Club of Salem Central (1982-84).<br>
5.  District  Sales  Tax  Advisory  Committee Member (1984-87).<br>
6.  President,  Salem  Productivity  Council,  Salem (1982-85).<br>
7.  President, Annamalai University Engineering and Technology Alumni Association (AUETAA)- Salem Chapter (1997-99).<br>
8.  Executive Committee Member AUETAA APEX,Chennai (1996-2000).<br>
</details>
<br>
<details>
<summary><b>VISITS:</b><br></summary>
1. Visited  Sri  Lanka  under  Rotary  activities  (1982).<br>
2. Visited  Australia as a Member of Duke of Edinbourough's 6th Commonwealth Study  Conference.<br>     
3. Visited  Singapore, Malaysia, Honk Kong, Thailand in 1993 to study the process of  Repairs of RCC Structures.<br>
4. Visited Singapore and Malaysia in 1994 for  study of Repair and Restoration of RCC  Structures.  <br>
</details>
<hr>
<details>
<summary><b>Mrs. Nagarathna Saileswaran</b></summary>
<br><br>
1. Founder of K.T.S.N. Memorial  Charitable Trust.<br>
2. Proprietorix of M/s.Sundram Metals and Allooys, Salem<br>
3. Director, M/s. Saileswaran Steels (P) Ltd, Salem<br>
4. Director, M/s. National Repair and Restoration Co.Ltd.,<br>
</details>
</div>
