<div class="main_content">
You are here: Home > Video Gallery > Childrens Day 2013
<hr>
<table id="photos" class="video_gallery">
	<tr>
		<td colspan="4">Childrens Day</td>
	</tr>
	<tr><td colspan="4">01. School from the outside</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/sQ6o81C4r2Y" frameborder="0" allowfullscreen></iframe>
	</td></tr>
	<tr><td colspan="4">02. Class 3 children</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/bvXjF-e7qVU"	frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">03. 6th Standard</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/MjgKUkslIsQ" frameborder="0" allowfullscreen></iframe>
	</td></tr>
	<tr><td colspan="4">04. Scrapbook</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/ifUho8N_MyA" frameborder="0" allowfullscreen></iframe>
	</td></tr>
	<tr><td colspan="4">05. Lkg Zoo</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/Qv6Wj0tZkjw" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">06. Mahalakshmi</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/67JBSgFnCss" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">07. Glowing House</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/qsJzOGInZSQ" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">08. Paperman</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/BmWDE_Mwvk8" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">09. Train</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/JaeT-9x1M10" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">10. 4 girls Dancing</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/0WC8VVZRTMM" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">11. Mythili Dancing</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/w4WwwLZpTz0" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">12. Girl Speaking English</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/xuHTdiZDCQY" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">13. 4boys Dancing</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/vP5mjTyxt-E" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
</table>
</div>
