<div class="main_content">
You are here: Home > Video Gallery
<hr>
Click on the image to open video page
<br>
<div class="videoList">
	<div class="row">
		<div class="col-md-3"><a href="#/videoGallery/independenceDay/2014"><img src="images/2014_independence_day/SAM_0520.JPG_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/videoGallery/annualDay/2014"><img src="images/2014_23rd_annual_day/SAM_0041.JPG_medium.jpg" /></a></div>
		<div class="col-md-3"><a href="#/videoGallery/childrensDay/2013"><img src="images/2013_childrens_day/2013-11-16 15.14.42.jpg_medium.jpg" /></a></div>
	</div>			
	<div class="row">
		<div class="col-md-3">Independence Day 2014</div>
		<div class="col-md-3">Annual Day 2014</div>
		<div class="col-md-3">Childrens Day 2013</div>
	</div>			
</div>
</div>
