<div class="main_content">
You are here: Home > Video Gallery > Video Gallery Independence Day 2014
<hr>
<div class="videoList">
	<div class="row">
		<div class="col-md-6">
			Click on the image to open video
		</div>
	</div>
	<div class="row video">
		<div class="col-md-6">
			<video width="560" height="315" controls>
			  <source src="videos/VID_20140815_105835.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>		
		</div>
	</div>			
	<div class="row video">
		<div class="col-md-6">
			<video width="560" height="315" controls>
			  <source src="videos/VID_20140815_113021.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>		
		</div>
	</div>			
</div>
</div>
