<div class="main_content">
You are here: Home > Video Gallery - Annual Day 2014
<hr>
<table id="photos" class="video_gallery">
	<tr>
		<td colspan="4">Annual Day - Jan 25, 2014</td>
	</tr>
	<tr><td colspan="4">01. Mythili Dance</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/qdfG6WpeQ7Q" frameborder="0" allowfullscreen></iframe>
	</td></tr>
	<tr><td colspan="4">02. Kaaka Kids Dance</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/od_H1XSjQSU"	frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">03. London Bridge is falling</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/-CSHOtUVz7Y" frameborder="0" allowfullscreen></iframe>
	</td></tr>
	<tr><td colspan="4">04. Nikkiriye Joraa</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/WUUzqiKlWMs" frameborder="0" allowfullscreen></iframe>
	</td></tr>
	<tr><td colspan="4">05. Kambu dance</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/WuWZwqLZ8nY" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
	<tr><td colspan="4">06. Mahesh and Uma Speech</td></tr>
	<tr><td>
		<iframe width="560" height="315" src="//www.youtube.com/embed/zbMrn5hfjK0" frameborder="0" allowfullscreen></iframe>	
	</td></tr>
</table>
</div>
