<div class="main_content">
You are here: Home > Video Gallery
<hr>
<table id="photos" class="photo_gallery_mini">
	<tr class="label">
		<td>Annual Day 2014</td>
		<td>Childrens Day 2013</td>
	</tr>
	<tr>
		<td><a href="video_gallery_detail_annual_day_2014.php"><img src="images/2014_23rd_annual_day/SAM_0041.JPG_medium.jpg" /></td>
		<td><a href="video_gallery_detail_childrens_day_2013.php"><img src="images/2013_childrens_day/2013-11-16 15.14.42.jpg_medium.jpg" /></td>
	</tr>			
</table>
</div>
