<div class="main_content">
You are here: Home > Students List
	<hr>
	<div class="row">
		<div class="col-md-12">
			<input type="text" ng-model="filterOptions.filterText" />			
		</div>	
	</div>
	<div class="row"">
		<div class="col-md-6">
			<div id="studentsGrid" class="gridStyle" ng-grid="gridOptions">
			</div>
		</div>			
		<div class="col-md-3">
			<img src="{{studentImage}}" />
		</div>
		<div class="col-md-3">
			Name : {{StudentName}} <br>
			TV : {{TV}} <br>
			Newspaper : {{newspaper}} <br>
			Vehicle : {{vehicle}}
		</div>		
	</div>
</div>