<div class="main_content">
You are here: Home > Teachers Section
<hr>
	<div class="row">
		<div class="col-md-6">
			Week of Sep 1, 2014 <br><br>
			1. Watch video of "How schools kill creativity" <br>
			2. Watch video of windmills. <br>
		</div>
		<div class="col-md-6">
			Video Links<br><br>
			1. <a href="youtube/Sir Ken Robinson_ Do schools kill creativity_.mp4">How schools Kill creativity</a><br>
			2. <a href="youtube/Moving Windmills_ The William Kamkwamba story.flv">Moving windmills</a>
			
		</div>
	</div>
	
	
</div>
