<div class="main_content">
You are here: Home > Teachers Section
<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Activities for this week</div>
				<div class="panel-body">
					1. Register in www.usalearns.org<br>
					2. Watch video of windmills. <br>
				</div>
			</div>		
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Video Links</div>
				<div class="panel-body">
					1. <a href="youtube/Sir Ken Robinson_ Do schools kill creativity_.mp4">How schools Kill creativity</a><br>
					2. <a href="youtube/Moving Windmills_ The William Kamkwamba story.flv">Moving windmills</a><br>
					3. <a href="https://www.youtube.com/watch?v=5N-9yZmK3Fg">My new life: a primary education for all in India</a>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Document Links</div>
				<div class="panel-body">
					1. <a target="_blank" href="https://sites.google.com/site/vanavanisalem/">Google Site for vanavani</a><br>
					2. <a target="_blank" href="https://drive.google.com">Google Drive</a><br>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">English Links</div>
				<div class="panel-body">
					1. <a href="http://learnenglish.britishcouncil.org/en/">British Council</a><br>
					2. <a href="http://www.myefa.org">Learn English - This is an excellent site where English is taught step by step. Our teachers will benefit from this.</a><br>
				</div>
			</div>
		</div>
	</div>
</div>
